# Example Environment Configuration file

CI_ENVIRONMENT = development

app.baseURL = 'http://taskapp.localhost:8012'

database.default.hostname = localhost
database.default.database = taskapp
database.default.username = taskapp
database.default.password = ''

HASH_SECRET-KEY = 'bJgbXPVLpObwfkdzBqqQufZwdWk1WLWH 


email.protocol = smtp
email.SMTPHost = "smtp.mailersend.net"
email.SMTPUser = "MS_HSg1mL@trial-vywj2lp232pg7oqz.mlsender.net"  
email.SMTPPass = "GSyQ4qWqsRzxRJz3"    
email.SMTPPort = 587
email.SMTPCrypto = tls